main {
    min-width: 1900px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    font-size:32px;
    text-align:center;
}
header {
    width: 1900px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: left;
    font-size: 32px;
}
a {
    width: 100px;
    border: 5px solid green;
    padding: 5px;
    height:100px;
    /*display: -webkit-flex; /* Safari 
    -webkit-align-items: center; /* Safari 7.0+ */
    display:inline-flex;
    align-items:center;
    align-content:center;
    text-align:center;
}
a+a{
    margin-left:50px;
    margin-top:50px;
}
.item{
    text-align:center;
}
[data-owner="True"] {
    border: 5px solid red 
}
[data-owner="False"] {
    border: 5px solid blue 
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
